body {
    padding-top: 50px;
    padding-bottom: 20px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000000;
	background-image: url("../images/TERA.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	background: #ffffff;
	margin-top: 3%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.blue{
    background-color : #bfefff !important;
}

.blue{
    background-color : #ffb6c1 !important;
}


